/* モーダルウィンドウ */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0, 0, 0, 0.32);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modalScroll{
    background: #fff;
    /* overflow-y: scroll; */
    height: 80vh;
    max-height: 800px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 900px;
    border-radius: 20px;
}
.ScrollContent{
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60vh;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    width: 95%;
    border-radius: 20px;
}
::-webkit-scrollbar{
    border-radius: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #b6b6b6;
    border-radius: 10px;
 }
.modal__content{
    color: rgb(49, 49, 49);
    text-align: center;
}
.modal__content h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
.modal__content h3{
    padding: 10px;
    padding-bottom: 40px;
}
.js-modal-close{
    color: #555;
}