@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url("css/header.css");
@import url("css/background.css");
@import url("css/modal.css");
@import url("css/movie.css");
@import url("css/timer.css");
@import url("css/button.css");
@import url("css/slider.css");

*{
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 350;
}

body{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(224, 224, 224);
    margin:auto;

    overflow-x: hidden; /*画面横スクロール非表示、禁止*/
    overflow: hidden; /*画面縦スクロール非表示、禁止*/
}

.flex h2{
    padding: 20px;
}

.flex{
    display: flex;
    justify-content: center;
}

.blank{
    padding-top: 8vh;
}